<% javascript 'learning/list.js' %>

<div data-role="content" id="BiggerFont">
  <div class="ui-grid-a">
    <div class="ui-block-a" style="width:70%"><h1><span style="color:Maroon">Choose a game to play</span></h1></div>
    <div class="ui-block-b" style="width:25%">
      <select name="grade" id="grade" data-inline="true">
        <option value="basic">Basic</option>
        <option value="3rdgrade">3rd Grade</option>
      </select>
    </div>
  </div><!-- /grid-a -->
  
  <div id="basic">
    <table cellspacing="30" style="margin-left:auto; margin-right:auto"> 
      <tr>
        <td>
          <a href="/questionset/2/ask?grade=0" data-role="button" data-theme='b' target='_self'>Word Text-Picture Matching Simple</a>
        </td>
        <td>
          <a href="/questionset/5/ask?grade=0" data-role="button" data-theme='b' target='_self'>Word Audio-Picture Matching Simple</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="/questionset/3/ask?grade=0" data-role="button" data-theme='b' target='_self'>Word Text-Picture Matching Intermediate</a>
        </td>
        <td>
          <a href="/questionset/6/ask?grade=0" data-role="button" data-theme='b' target='_self'>Word Audio-Picture Matching Intermediate</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="/questionset/1/ask?grade=0" data-role="button" data-theme='b' target='_self'>Word Text-Picture Matching Advanced</a>
        </td>
        <td>
          <a href="/questionset/4/ask?grade=0" data-role="button" data-theme='b' target='_self'>Word Audio-Picture Matching Advanced</a>
        </td>
      </tr>
    </table>
  </div>

  <div id="3rdgrade" style="display:none">
    <table cellspacing="10" style="margin-left:auto; margin-right:auto"> 
      <tr>
        <td>
          <a href="/questionset/2/ask?grade=3" data-role="button" data-theme='b' target='_self'>Word Text-Picture Matching Simple</a>
        </td>
        <td>
          <a href="/questionset/5/ask?grade=3" data-role="button" data-theme='b' target='_self'>Word Audio-Picture Matching Simple</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="/questionset/3/ask?grade=3" data-role="button" data-theme='b' target='_self'>Word Text-Picture Matching Intermediate</a>
        </td>
        <td>
          <a href="/questionset/6/ask?grade=3" data-role="button" data-theme='b' target='_self'>Word Audio-Picture Matching Intermediate</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="/questionset/1/ask?grade=3" data-role="button" data-theme='b' target='_self'>Word Text-Picture Matching Advanced</a>
        </td>
        <td>
          <a href="/questionset/4/ask?grade=3" data-role="button" data-theme='b' target='_self'>Word Audio-Picture Matching Advanced</a>
        </td>
      </tr>
    </table>
  </div>
</div>
