<div data-role="content" id="BiggerFont">
  <div class="ui-grid-a">
    <div class="ui-block-a">
      <h1><span style="color:Maroon">Welcome to Mobile Learning</span></h1>
    </div>
    <div class="ui-block-b">
      <div style="float:right">
        <a href="/achievement/list" data-role="button" data-icon="gear" data-theme='b' class="ui-btn-right" style="margin-top:16px" target="_self">Achievement</a>
      </div>
    </div>
  </div>

  <div data-role="collapsible" data-theme='b' data-collapsed='false'>
    <h3>Word</h3>
    <%= form_tag({controller: "questionset", action: "ask"}, {target: "_self"}) do %>
      <table cellspacing="10" style="margin-left:30; margin-right:auto">
        <tr><td align="left">
            <label for="game" class="select">Game:</label>
            <select name="game" id="game">
              <option value="1">Text Picture Matching</option>
              <option value="2">Audio Picture Matching</option>
            </select>
        </td></tr>
        
        <tr><td align="left">
            <label for="grade" class="select">Grade:</label>
            <select name="grade" id="grade">
              <option value="0">K</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
        </td></tr>

        <tr><td align="left">
            <label for="difficulty" class="select">Difficulty:</label>
            <select name="difficulty" id="difficulty">
              <option value="0">Simple</option>
              <option value="1">Intermediate</option>
              <option value="2">Advanced</option>
            </select>
        </td></tr>

        <tr><td align="left">
            <input type="submit" id = "submit" name="Play" value="Play" data-theme='e' data-corners="false" />
        </td></tr>
      </table>
    <% end %>
  </div>
</div>

