<div data-role="content" style="text-align:center" id="BiggerFont">
  <h1>Choose a game to play</h1>

  <table cellspacing="10" style="margin-left:auto; margin-right:auto"> 
    <tr><td>
        <a href="/questionset/1/start" data-role="button" data-theme='b'>Word-Picture Matching</a>
    </td></tr>
  </table>
</div>
