<div data-role="content" id="BiggerFont">
  <h1><span style="color:Maroon">Welcome to Mobile Learning</span></h1>
  
  <div data-role="collapsible" data-theme='b' data-collapsed='false'>
    <h3>Word</h3>
    <%= form_tag({controller: "questionset", action: "ask"}, {target: "_self"}) do %>
      <table cellspacing="10" style="margin-left:30; margin-right:auto">
        <tr><td align="left">
            <label for="game" class="select">Game:</label>
            <select name="game" id="game">
              <option value="1">Text Picture Matching</option>
              <option value="2">Audio Picture Matching</option>
            </select>
        </td></tr>
        
        <tr><td align="left">
            <label for="grade" class="select">Grade:</label>
            <select name="grade" id="grade">
              <option value="0">K</option>
              <option value="1">1</option>
              <option value="3">3</option>
            </select>
        </td></tr>

        <tr><td align="left">
            <label for="difficulty" class="select">Difficulty:</label>
            <select name="difficulty" id="difficulty">
              <option value="0">Simple</option>
              <option value="1">Intermediate</option>
              <option value="2">Advanced</option>
            </select>
        </td></tr>

        <tr><td align="left">
            <input type="submit" id = "submit" name="Play" value="Play" data-theme='e' data-corners="false" />
        </td></tr>
      </table>
    <% end %>
  </div>
  <div data-role="collapsible" data-theme='b'>
    <h3>Math</h3>
    <div data-role="collapsible" data-theme='c'>
      <h4>Decimal Fraction</h4>
      <a href="/math/teach?topic=decimal_fraction&level=intro" data-role="button" data-theme='e' data-icon="arrow-r" target='_self'>Introduction</a>
    </div>
  </div>
</div>

