<div data-role="page">
	<div data-role="header">
    <h1><%= "Welcome #{@user.name}" %></h1>
    <a href="/user/logout" data-icon="gear" data-theme='b' class="ui-btn-right">Log Out</a>
  </div><!-- /header -->
</div><!-- /page -->
