<div data-role="content" style="text-align:center" id="BiggerFont">
  <h1>Welcome to Mobile Learning</h1>

  <table cellspacing="10" style="margin-left:auto; margin-right:auto"> 
    <form action="/user/register" method="POST">
      <tr><td align="left">
          <input type="text" name="name" id="name" value="" placeholder="Enter user name"/>
      </td></tr>
      
      <tr><td align="left">
          <input type="text" name="email" id="email" value="" placeholder="Enter email address"/>
      </td></tr>
      
      <tr><td align="left">
          <input type="password" name="password" id="password" value="" placeholder="Enter password"/>
      </td></tr>
      
      <tr><td>
          <input type="submit" value="Register" data-theme='b' data-corners="false" />
      </td></tr>
    </form> 
  </table>
</div>
