<div data-role="header" id="BiggerFont">
  <div class="ui-grid-c">
    <div class="ui-block-a">
      <% if (params[:controller] != "learning") || (params[:action] != "list") %>
        <a href="/" data-role="button" data-icon="home" data-theme="b" class="ui-btn-left" style="margin-top:16px" target="_self">Home</a>
      <% else %>
         <a href="/amateur/select" data-role="button" data-icon="gear" data-theme="b" class="ui-btn-left" style="margin-top:16px" target="_self">Amateur</a>
      <% end %>
    </div>
    <div class="ui-block-b">
      <h1 id="username" style="text-align:center"><%= "Hi, #{@name}"%></h1>
    </div>
    <div class="ui-block-c">
      <a href="/user/logout" data-role="button" data-icon="gear" data-theme='b' class="ui-btn-right" style="margin-top:16px" target="_self">Log Out</a>
    </div>
  </div>
</div><!-- /header -->
